deploy.zip

# Python
__pycache__/
*.pyc
.venv/
#.env

# IDEs
.vscode/

# macOS
.DS_Store

# Uploads e mídias (dev apenas)
app/static/musicas/originais/
app/static/musicas/otimizadas/
app/static/img/galeria/

# Dumps e backups
*.sql

# AWS Elastic Beanstalk
.elasticbeanstalk/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
